html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px;
 padding: 0px;
 border: 0px;
 outline: 0px;
 font-size: 100%;
 vertical-align: baseline;
 }

 body { font-family: Arial;
 font-size: 14px;
 line-height: 20px;
 color: rgb(49, 49, 49);
 min-width: 1000px;
 background: url("/assets/Images/bg-footer.png") repeat;
 word-wrap: break-word;
 }

 input { vertical-align: middle;
 margin: 0px;
 padding: 0px;
 }

 .header { width: 100%;
 background: rgb(255, 255, 255);
 }

 .header { width: 100%;
 min-height: 169px;
 overflow: hidden;
 }

 .header .header-register { height: 27px;
 background: rgb(236, 240, 241);
 }

 .header .header-register { height: 31px;
 background: rgb(250, 250, 250);
 border-bottom: 1px solid rgb(244, 244, 244);
 }

 .action { width: 1000px;
 height: 100%;
 margin: 0px auto;
 line-height: 24px;
 }

 .action .logon { float: right;
 background: url("/assets/Images/icon-logon.png") 0px 4px no-repeat;
 padding-left: 16px;
 margin: 5px 0px 0px 20px;
 }

 a { text-decoration: none;
 color: rgb(49, 49, 49);
 }

 .action a:hover { text-decoration: underline;
  }

  .action .register { float: right;
 background: url("/assets/Images/icon-register.png") 0px 4px no-repeat;
 padding-left: 16px;
 margin-top: 5px;
 }

 .action .register span { margin-left: 5px;
  }

  .header .header-logo { height: 100%;
 background: rgb(255, 255, 255);
 }

 .header .header-logo .hdcontent { width: 1000px;
 height: 100%;
 margin: 0px auto;
 background: rgb(255, 255, 255);
 }

 .header .header-logo .hdcontent .content-logo { float: left;
 padding-top: 45px;
 }

 .header .header-logo .hdcontent .content-banner { float: right;
 padding-top: 22px;
 }

 .menu { font-size: 15px;
 width: 100%;
 height: 43px;
 background: url("/assets/Images/bg-menu2.png") repeat-x;
 border-bottom: 1px solid rgb(185, 204, 211);
 font-family: "Roboto Condensed", Arial, Helvetica, sans-serif !important;
 }

 .menu .menu-content { width: 1000px;
 height: 100%;
 margin: 0px auto;
 }

 ol, ul { list-style: none;
  }

  .menu .menu-content .nav-menu { width: 1000px;
 height: 43px;
 }

 .menu .menu-content .nav-menu li { float: left;
 position: relative;
 }

 .menu .menu-content .nav-menu li:hover { background: url("/assets/Images/bg-menu-active.png") repeat-x;
}

.menu .menu-content .nav-menu li.active { background: url("/assets/Images/bg-menu-active.png") repeat-x;
}

.menu .menu-content .nav-menu li a { text-decoration: none;
 font-size: 14px;
 padding: 12px 9px;
 color: rgb(255, 255, 255);
 font-family: "Roboto Condensed";
 display: block;
 }

 .menu .menu-content .nav-menu li.active a { color: rgb(255, 255, 255);
  }

  h1, h2, h3, h4, h5, h6 { font-weight: normal;
  }

  .menu .menu-content .nav-menu li:hover .dropdown-menu { display: block;
  }

  .menu .menu-content .nav-menu li .dropdown-menu { position: absolute;
 top: 42px;
 z-index: 1000;
 color: rgb(66, 66, 66);
 display: none;
 float: left;
 min-width: 212px;
 padding: 0px;
 border-width: 0px 1px 1px;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 border-right-color: rgb(227, 227, 227);
 border-bottom-color: rgb(227, 227, 227);
 border-left-color: rgb(227, 227, 227);
 border-image: initial;
 border-top-style: initial;
 border-top-color: initial;
 box-shadow: rgb(227, 227, 227) 0px 5px 10px;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 border-radius: 0px !important;
 }

 .menu .menu-content .nav-menu li .dropdown-menu li { height: 36px;
 float: none;
 background: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 min-width: 212px !important;
 text-align: left !important;
 margin-right: 0px !important;
 padding-top: 0px !important;
 }

 .menu .menu-content .nav-menu li .dropdown-menu li:hover { background: rgb(54, 164, 69);
 color: rgb(0, 0, 0) !important;
 text-decoration: none !important;
 }

 .menu .menu-content .nav-menu li .dropdown-menu li a { color: rgb(66, 66, 66);
 height: 30px;
 display: block;
 font-weight: 100;
 background: none !important;
 text-align: left !important;
 padding: 6px 10px 0px !important;
 margin-right: 0px !important;
 }

 .menu .menu-content .nav-menu li .dropdown-menu li a { border-radius: 0px !important;
  }

  .menu .menu-content .nav-menu li .dropdown-menu li:hover a { color: rgb(255, 255, 255);
 text-decoration: none !important;
 }

 .menu .menu-content .nav-menu li:last-child { background: none;
  }

  .menu .menu-content .nav-menu li .dropdown-menu li:last-child:hover {}

  .menu .menu-content .nav-menu li .dropdown-menu li:last-child:hover a {}

  .menu .menu-content .nav-menu li.postnew { background: url("/assets/Images/icon-postnews.png") 10px 15px no-repeat rgb(40, 108, 169);
 padding-left: 17px;
 }

 .menu .menu-content .nav-menu li.postnew:hover { background: url("/assets/Images/icon-postnews.png") 10px 15px no-repeat rgb(56, 163, 69);
}

.menu .menu-content .nav-menu li.postnew a {}

.wr_page { background: rgb(250, 250, 250);
  }

  .search { width: 100%;
 position: relative;
 text-align: center;
 float: left;
 height: 246px;
 background-image: url("/assets/Images/banner.png");
 background-position: center top;
 background-size: 100% 246px;
 z-index: 100;
 }

 .search .search-tab { width: 100%;
 margin: 36px 0px 0px;
 text-transform: uppercase;
 font-family: Arial, Helvetica, sans-serif !important;
 }

 .search .search-tab .search-tab-content { width: 1000px;
 margin: 0px auto;
 z-index: 99;
 }

 .search-tab-content .tab-sell { width: 176px;
 text-align: center;
 background: url("/assets/Images/bg-tab.png") repeat;
 color: rgb(16, 44, 84);
 cursor: pointer;
 float: left;
 font-size: 15px;
 }

 .search-tab-content .tab-active { background: url("/assets/Images/bg-boxsearch.png") repeat !important;
 color: rgb(255, 255, 255) !important;
 }

 .search-tab-content .tab-sell h2 { line-height: 34px;
 font-family: "Roboto Regular" !important;
 font-weight: normal !important;
 font-size: 14px !important;
 }

 .search-tab-content h2 { font-size: 17px;
  }

  .search-tab-content .tab-rent { width: 200px;
 text-align: center;
 background: url("/assets/Images/bg-tab.png") repeat;
 border-bottom: 0px;
 color: rgb(16, 44, 84);
 cursor: pointer;
 float: left;
 font-size: 15px;
 }

 .search-tab-content .tab-sell h1, .search-tab-content .tab-rent h2 { line-height: 34px;
 font-family: "Roboto Regular" !important;
 font-weight: normal !important;
 font-size: 14px !important;
 }

 .clear { clear: both;
  }

  .search .search-content { width: 100%;
 height: 125px;
 margin: 0px;
 }

 .search-content .search-content-input { background: url("/assets/Images/bg-boxsearch.png") repeat;
 width: 982px;
 height: 115px;
 margin: 0px auto;
 padding: 14px 0px 0px 17px;
 position: relative;
 }

 .search-content-input .input1 { height: 29px;
 margin: 0px 0px 7px;
 }

 .search-content-input .input1 input { width: 952px;
 border: 1px solid rgb(105, 144, 177);
 float: left;
 padding: 7px;
 }

 .search-content-input .input1 .option-item { background: url("/assets/Images/bg-select1.png") right center no-repeat rgb(255, 255, 255);
 height: 29px;
 line-height: 29px;
 margin: 0px 4px 0px 0px;
 border: 1px solid rgb(105, 144, 177);
 float: left;
 width: 156px;
 cursor: pointer;
 }

 .section { float: left;
  }

  .search .search-content .section { margin-right: 4px;
 text-align: left;
 }

 .segtext { overflow: hidden;
 padding: 1px 0px 0px 12px;
 float: left;
 z-index: 1;
 width: 124px;
 text-overflow: ellipsis;
 text-align: left;
 font-family: Tahoma;
 font-size: 12px;
 white-space: nowrap !important;
 }

 .gridcontainer { float: left;
  }

  .gridcontainer ul { float: left;
 background: rgb(255, 255, 255);
 position: absolute;
 text-align: left;
 z-index: 9;
 max-height: 300px;
 overflow: auto;
 border-width: 0px 1px 1px;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 border-right-color: rgb(227, 227, 227);
 border-bottom-color: rgb(227, 227, 227);
 border-left-color: rgb(227, 227, 227);
 border-image: initial;
 border-top-style: initial;
 border-top-color: initial;
 box-shadow: rgb(174, 174, 174) -1px 1px 4px;
 }

 .gridcontainer ul li { padding: 0px 17px;
 white-space: nowrap;
 }

 .gridcontainer ul li.selected { background: rgb(55, 163, 68);
 color: rgb(255, 255, 255);
 }

 .gridcontainer ul li:hover { background: rgb(55, 163, 68);
 color: rgb(255, 255, 255);
 }

 .select2-hidden-accessible { border: 0px;
 clip: rect(0px 0px 0px 0px);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0px;
 position: absolute;
 width: 1px;
 }

 .select2-container { box-sizing: border-box;
 display: inline-block;
 margin: 0px;
 position: relative;
 vertical-align: middle;
 }

 .search .select2-container { font-size: 12px;
 font-family: Tahoma;
 width: 158px !important;
 }

 .select2-container .select2-selection--single { box-sizing: border-box;
 cursor: pointer;
 display: block;
 height: 30px;
 user-select: none;
 }

 .select2-container--default .select2-selection--single { background-color: rgb(255, 255, 255);
 border: 1px solid rgb(202, 193, 186);
 }

 .select2-container .select2-selection--single .select2-selection__rendered { display: block;
 padding-left: 8px;
 padding-right: 34px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 }

 .select2-container--default .select2-selection--single .select2-selection__rendered { color: rgb(68, 68, 68);
 line-height: 28px;
 }

 .search .search-content .section .selection span span { padding-left: 10px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow { height: 28px;
 position: absolute;
 top: 1px;
 right: 1px;
 width: 31px;
 border-left: 1px solid rgb(222, 222, 222);
 background: url("/assets/Images/icon_select.png") no-repeat;
 }

 .search .search-content .section .select2-selection__arrow { display: inline-block;
 padding-left: 0px !important;
 border-left: 1px rgb(255, 255, 255) !important;
 background: url("/assets/Images/icon_select2.png") no-repeat !important;
 }

 .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: rgb(112, 98, 87) transparent transparent;
 border-width: 5px 4px 0px;
 height: 0px;
 left: 50%;
 margin-left: -4px;
 margin-top: -2px;
 position: absolute;
 top: 50%;
 width: 0px;
 }

 .search-content-input .input1 a { float: left;
 margin: 1px 0px 0px;
 }

 .index-page { position: relative;
 padding-bottom: 36px;
 float: left;
 width: 100%;
 }

 .index-page .content { width: 1000px;
 margin: 0px auto;
 min-height: 200px;
 }

 .fl { float: left;
  }

  .index-page .content .news-default { width: 660px;
 margin-top: 20px;
 margin-bottom: 20px;
 }

 .news-default .news-default-left { width: 380px;
 border: 1px solid rgb(227, 227, 227);
 padding: 6px;
 position: relative;
 float: left;
 background: rgb(255, 255, 255);
 min-height: 313px;
 }

 .news-top .litext a:hover, .news-default .news-default-left a:hover { text-decoration: underline;
  }

  .news-default .news-default-left a { color: rgb(1, 95, 149);
 font-style: normal;
 font-variant: normal;
 font-weight: bold;
 font-stretch: normal;
 font-size: 16px;
 line-height: 20px;
 font-family: tahoma, arial;
 }

 .news-default-left img { width: 380px;
 height: 250px;
 display: block;
 margin: 0px auto;
 }

 .news-default-left h2 { margin: 12px 0px 10px;
  }

  .news-default-left h2 a:hover {}

  .news-default .news-default-right { width: 252px;
 min-height: 325px;
 border: 1px solid rgb(222, 222, 222);
 float: right;
 background: rgb(255, 255, 255);
 }

 .news-default-right ul { padding: 0px 13px 10px !important;
  }

  .news-default-right ul li { border-bottom: 1px solid rgb(222, 222, 222);
 padding: 9px 0px;
 }

 .news-default-right ul li a { font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 14px;
 line-height: 20px;
 font-family: tahoma;
 color: rgb(68, 68, 68);
 padding: 3px 0px 3px 12px;
 display: block;
 background: url("/assets/Images/icon_butlet.png") 0px 10px no-repeat;
 min-height: 40px;
 }

 .product-count .pc-content ul li h3 a:hover, .news-hightlight .nh-content ul li a:hover, .news-default-right ul li a:hover, .articlegroup .list_news .list_top ul li a:hover, .articlebottom .list_news ul li a:hover { color: rgb(55, 163, 68);
  }

  .news-default-right ul li.first { margin-top: 0px;
  }

  .news-default-right ul li:last-child { margin-bottom: 0px;
  }

  .index-page .content .most-read { width: 320px;
 margin: 20px 0px 0px;
 float: right;
 }

 .most-read .title { height: 25px;
 border-bottom: 1px solid rgb(55, 163, 68);
 background: url("/assets/Images/icon-most-read.png") no-repeat;
 padding: 1px 0px 0px 39px;
 }

 .most-read .title h3 { text-transform: uppercase;
 color: rgb(1, 96, 152);
 font-size: 18px;
 font-family: "Roboto Condensed" !important;
 }

 .most-read ul { float: left;
 padding: 4px 13px 10px;
 border: 1px solid rgb(222, 222, 222);
 background: rgb(255, 255, 255);
 margin-top: 5px;
 }

 .most-read ul li { border-top: 1px solid rgb(222, 222, 222);
 margin-top: 10px;
 padding-top: 10px;
 }

 .most-read ul li.first { border: none;
 margin-top: 0px;
 }

 .most-read ul li:first-child { margin: 0px;
  }

  .most-read ul li h4 {}

  .most-read ul li a { padding-left: 12px;
 display: block;
 background: url("/assets/Images/icon_butlet.png") 0px 8px no-repeat;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 14px;
 line-height: 20px;
 font-family: tahoma;
 color: rgb(68, 68, 68);
 }

 .most-read ul li h4 a:hover {}

 .mid-banner { width: 658px;
 margin: 20px 0px 0px;
 float: left;
 }

 .index-page .content .content-right { width: 320px;
 float: right;
 margin: 20px 0px 0px 20px;
 }

 .index-page .content .content-home { margin: 5px 0px 0px 20px !important;
  }

  .content-right .project-hl { float: left;
 width: 100%;
 }

 .project-hl .hl-title { height: 24px;
 padding: 2px 0px 0px 34px;
 background: url("/assets/Images/icon-project.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .project-hl .hl-title a { width: 100%;
 font-family: "Roboto Condensed";
 font-size: 18px;
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 }

 .project-hl .wr_project { margin: 5px 0px 0px;
 border: 1px solid rgb(227, 227, 227);
 min-height: 290px;
 background: rgb(255, 255, 255);
 }

 .project-hl .wr_slide { padding: 5px;
  }

  .slider { list-style: none;
 width: 309px !important;
 }

 .slider .slide-container { height: auto !important;
 width: 309px !important;
 }

 .slider .slide-container .slide-wrapper { height: auto !important;
 width: 298px !important;
 min-height: 295px !important;
 }

 .slide > * { max-width: 100%;
  }

  .slide img { width: 309px;
 height: 204px;
 border: 0px !important;
 }

 .slideproject img { width: 309px;
 height: 204px;
 float: left;
 border: 0px !important;
 }

 .slideproject h4 { margin-top: 15px;
 margin-bottom: 5px;
 line-height: 18px;
 float: left;
 width: 100%;
 }

 .slideproject h4 a { text-decoration: none;
 font-family: "Roboto Condensed";
 font-size: 13pt;
 }

 .slideproject h4 a:hover { text-decoration: underline;
  }

  .slider .slide-prev, .slider .slide-next { cursor: pointer;
 height: 48px;
 width: 48px;
 position: absolute;
 top: 40%;
 margin-top: -24px;
 background-color: rgba(255, 255, 255, 0.8);
 padding: 0px;
 opacity: 0.8;
 }

 .slider .slide-prev { left: 0px;
  }

  .slider .slide-prev::before, .slider .slide-next::before { display: block;
 width: 48px;
 height: 48px;
 font-size: 40px;
 line-height: 50px;
 text-align: center;
 font-family: BenchNine, sans-serif;
 position: absolute;
 }

 .slider .slide-prev::before { content: "<";
}

.slider .slide-next:hover, .slider .slide-prev:hover { background-color: rgba(255, 255, 255, 0.9);
  }

  .slider .slide-next { right: 0px;
  }

  .slider .slide-next::before { left: 3px;
 content: ">";
 }

 ul.es-pager { position: absolute;
 right: 0px;
 display: block;
 width: 100%;
 text-align: right;
 padding: 0px;
 line-height: 0px;
 }

 ul.es-pager li { display: inline-block;
 margin: 2px;
 padding: 0px;
 height: 13px;
 width: 13px;
 cursor: pointer;
 background: url("/assets/icon_slide.png") -20px 0px no-repeat;
 }

 ul.es-pager li:hover, ul.es-pager li.act { background: url("/assets/icon_slide.png") 0px 0px no-repeat;
}

ul.es-pager li.act { cursor: default;
  }

  .project-hl .thumbSlide { margin-top: 15px;
  }

  .project-hl .thumbSlide .listproject {}

  .project-hl .thumbSlide .listproject .item { display: table;
 border-top: 1px solid rgb(226, 238, 242);
 padding: 8px 4px;
 }

 .project-hl .thumbSlide .listproject .item.first { border-top: 0px;
  }

  .project-hl .thumbSlide .listproject .item.act { background: rgb(221, 237, 246);
  }

  .project-hl .thumbSlide .listproject .item a.tt_project { float: left;
 width: 104px;
 height: 69px;
 border: 1px solid rgb(227, 227, 227);
 padding: 3px;
 background: rgb(255, 255, 255);
 }

 .project-hl .thumbSlide .listproject .item a .avatar { display: block;
  }

  .project-hl .thumbSlide .listproject .item .info_project { float: left;
 width: 190px;
 margin-left: 8px;
 }

 .project-hl .thumbSlide .listproject .item .info_project a { color: rgb(66, 66, 66);
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 14px;
 line-height: 18px;
 font-family: "Roboto Condensed", arial;
 display: block;
 margin-bottom: 5px;
 }

 .project-hl .thumbSlide .listproject .item.act .info_project a { color: rgb(1, 96, 150);
  }

  .index-page .content .content-right .product-count { float: left;
 margin: 15px 0px 0px;
 width: 100%;
 }

 .product-count .pc-title { float: left;
 width: 320px;
 min-height: 24px;
 border-bottom: 1px solid rgb(55, 163, 68);
 background: url("/assets/Images/icon-foruser.png") no-repeat rgb(55, 163, 68);
 text-transform: uppercase;
 color: rgb(1, 96, 152);
 position: relative;
 }

 .pc-title .pc-icon { height: 26px;
 width: 27px;
 position: absolute;
 background: rgb(55, 163, 68);
 float: left;
 left: 0px;
 bottom: 0px;
 }

 .pc-title .pc-icon img { position: absolute;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
 margin: auto;
 }

 .pc-title h4, .pc-title h3 { min-height: 26px;
 margin-left: 27px;
 padding-left: 12px;
 font-family: "Roboto Condensed";
 font-size: 18px;
 background: rgb(250, 250, 250);
 line-height: 24px;
 }

 .product-count .pc-content { width: 302px;
 float: left;
 border: 1px solid rgb(227, 227, 227);
 margin-top: 5px;
 padding: 0px 8px 8px;
 background: rgb(255, 255, 255);
 }

 .product-count .pc-content ul { font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 14px;
 line-height: normal;
 font-family: tahoma;
 }

 .product-count .pc-content ul li { background: url("/assets/./Images/arrow-right.png") 8px 15px no-repeat;
 padding: 11px 0px 11px 27px;
 border-bottom: 1px solid rgb(227, 238, 242);
 }

 #ulBoxHotHome li h4 a { color: rgb(3, 93, 153) !important;
  }

  .pc-extra { text-align: right;
 height: 30px;
 width: 100%;
 margin-top: 8px;
 }

 .content-right .utility { float: left;
 margin: 15px 0px 0px;
 width: 100%;
 }

 .utility .utility-title { height: 24px;
 padding: 2px 0px 0px 34px;
 background: url("/assets/Images/icon-utility.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .utility .utility-title h3 { width: 100%;
 font-family: "Roboto Condensed";
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 font-size: 18px;
 }

 .utility .utility-content { width: 318px;
 float: left;
 border: 1px solid rgb(227, 227, 227);
 margin: 0px 0px 9px;
 background: rgb(255, 255, 255);
 }

 .utility .utility-content ul li { border-bottom: 1px solid rgb(206, 226, 233);
  }

  .utility .utility-content ul li:hover { background-color: rgb(227, 238, 242);
  }

  .utility .utility-content ul li a { background: url("/assets/Images/icon_tootl.png") 15px 18px no-repeat;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 14px;
 line-height: normal;
 font-family: tahoma;
 text-transform: uppercase;
 display: block;
 padding: 20px 0px 20px 70px;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 }

 .utility .utility-content a:hover { background-color: rgb(227, 238, 242);
  }

  .utility .utility-content .lifengshui a { background-position: 15px -48px;
  }

  .utility .utility-content ul li a:hover, .utility .utility-content ul li.act a { background-color: rgb(227, 238, 242);
  }

  .utility .utility-content .laixuat a { background-position: 15px -171px;
  }

  .utility .utility-content ul li:last-child { border-bottom: 0px;
  }

  .utility .utility-content .vanban a { background-position: 15px -286px;
  }

  #ulBoxHot li h4 a { color: rgb(3, 93, 153) !important;
  }

  .index-page .content .content-left { width: 660px;
 float: left;
 margin: 20px 0px 0px;
 }

 .index-page .content .content-left .for-user { width: 100%;
 float: left;
 }

 .for-user .title { float: left;
 width: 621px;
 height: 25px;
 border-bottom: 1px solid rgb(55, 163, 68);
 background: url("/assets/Images/icon-foruser.png") 0px 2px no-repeat;
 padding: 3px 0px 0px 39px;
 text-transform: uppercase;
 color: rgb(1, 96, 152);
 font-size: 18px;
 }

 .for-user .title h3 { font-family: "Roboto Condensed" !important;
}

.for-user ul { float: left;
 margin: 10px 0px 0px;
 width: 100%;
 }

 .for-user ul li { border: 1px solid rgb(222, 222, 222);
 padding: 5px;
 margin-bottom: 10px;
 float: left;
 width: 648px;
 background: rgb(255, 255, 255);
 }

 .for-user ul li:first-child { margin-left: 0px !important;
  }

  .for-user ul li img { width: 170px;
 height: 115px;
 float: left;
 }

 .for-user ul li .desc { float: right;
 width: 468px;
 position: relative;
 min-height: 115px;
 }

 .for-user ul li .desc h4 a, .for-user ul li .desc h3 a { color: rgb(0, 96, 146);
 font-style: normal;
 font-variant: normal;
 font-weight: bold;
 font-stretch: normal;
 font-size: 14px;
 line-height: 22px;
 font-family: tahoma;
 min-height: 36px;
 display: block;
 }

 .for-user ul li .desc h4 a:hover, .for-user ul li .desc h3 a:hover { text-decoration: underline;
  }

  .vip1 { color: red !important;
  }

  .for-user ul li .other { font-size: 12px;
  }

  .for-user ul li .other .price, .for-user ul li .other .area, .for-user ul li .other .location { padding: 0px 0px 0px 25px;
 line-height: 24px;
 }

 .for-user ul li .other .price { background: url("/assets/Images/icon-price.png") 2px 5px no-repeat;
 color: rgb(55, 163, 68);
 font-weight: bold;
 }

 .for-user ul li .other div label { width: 60px;
 display: inline-block;
 color: rgb(66, 66, 66);
 margin-right: 5px;
 font-weight: normal;
 }

 .for-user ul li .other div label span { float: right;
  }

  .for-user ul li .other .area { background: url("/assets/Images/icon-area.png") 0px 5px no-repeat;
}

.for-user ul li .other .location { background: url("/assets/Images/icon-location.png") 3px 4px no-repeat;
}

.for-user ul .saveProductDetail { width: 80px;
 height: 26px;
 background: url("/assets//Images/saveProductDetail.png") 16% 45% no-repeat rgb(229, 229, 229);
 line-height: 26px;
 cursor: pointer;
 text-indent: 26px;
 font-weight: normal;
 font-family: "Roboto Regular";
 font-size: 14px;
 color: rgb(40, 108, 169);
 position: absolute;
 bottom: 36px;
 right: 0px;
 border-radius: 3px;
 padding: 2px 3px;
 display: none;
 }

 .for-user ul li:hover .saveProductDetail, .for-user ul li .desc:hover .saveProductDetail { display: inline-block;
  }

  .for-user ul li .desc .date { position: absolute;
 bottom: -5px;
 right: 0px;
 color: rgb(149, 149, 149);
 font-size: 12px;
 }

 .for-user .extra { float: left;
 text-align: right;
 width: 100%;
 margin-bottom: 10px;
 }

 .for-user .extra-news { width: 100%;
 height: 28px;
 padding-top: 8px;
 margin-bottom: 20px;
 border-top: 1px solid rgb(206, 226, 233);
 border-bottom: 1px solid rgb(206, 226, 233);
 float: left;
 font-size: 11pt;
 color: rgb(138, 138, 138);
 font-family: "Roboto Condensed";
 }

 .for-user .extra-news .extra-news-l { float: left;
 text-align: left;
 width: 49%;
 font-family: "Roboto Condensed";
 font-size: 12px;
 }

 .for-user .extra-news a { color: rgb(137, 137, 137);
  }

  .for-user .extra-news a:hover { text-decoration: underline;
  }

  .for-user .extra-news span a { color: rgb(55, 163, 68);
  }

  .for-user .extra-news .extra-news-r { float: right;
 width: 49%;
 text-align: right;
 font-family: "Roboto Condensed";
 font-size: 12px;
 }

 .fengshui .fengshui-title { height: 24px;
 padding: 2px 0px 0px 34px;
 background: url("/assets/Images/icon-fengshui.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .fengshui .fengshui-title a { width: 100%;
 font-family: "Roboto Condensed";
 font-size: 18px;
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 }

 .home_fengshui .list_news { padding: 6px 4px;
 border-width: 0px 1px 1px;
 border-right-style: solid;
 border-bottom-style: solid;
 border-left-style: solid;
 border-right-color: rgb(227, 227, 227);
 border-bottom-color: rgb(227, 227, 227);
 border-left-color: rgb(227, 227, 227);
 border-image: initial;
 border-top-style: initial;
 border-top-color: initial;
 background: rgb(255, 255, 255);
 margin-top: 5px;
 }

 .home_fengshui .list_news .news-hot { width: 310px;
 float: left;
 }

 .home_fengshui .list_news .news-hot img { width: 310px;
 height: 204px;
 }

 .home_fengshui .list_news .news-hot h4 a { color: rgb(66, 66, 66);
 font-family: "Roboto Bold";
 font-size: 16px;
 line-height: 24px;
 margin-bottom: 5px;
 }

 .home_fengshui .list_news .list_top { float: right;
 width: 320px;
 }

 .home_fengshui .list_news .list_top ul li { margin-bottom: 10px;
  }

  .home_fengshui .list_news .list_top ul li a { padding-left: 12px;
 display: block;
 background: url("/assets/Images/icon_butlet.png") 0px 7px no-repeat;
 font-weight: normal;
 font-family: "Roboto Regular";
 font-size: 14px;
 color: rgb(66, 66, 66);
 }

 .living_space { margin-top: 20px;
  }

  .fengshui .living-title { height: 24px;
 padding: 2px 0px 0px 34px;
 background: url("/assets/Images/icon-living.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .fengshui .living-title a { width: 100%;
 font-family: "Roboto Condensed";
 font-size: 18px;
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 }

 .index-page .content .content-left .inews { width: 100%;
 margin: 20px 0px 0px;
 float: left;
 }

 .inews .inews-l { width: 321px;
 float: left;
 }

 .inews-l .inews-l-title { height: 23px;
 padding: 3px 0px 0px 34px;
 background: url("/assets/Images/icon-tvl.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .inews-l .inews-l-title a { width: 100%;
 font-family: "Roboto Condensed";
 font-size: 18px;
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 }

 .inews .inews-l-content { width: 319px;
 border: 1px solid rgb(227, 227, 227);
 margin-top: 6px;
 background: rgb(255, 255, 255);
 }

 .inews-l-content .inews-l-content-hot { margin: 6px;
 padding-bottom: 10px;
 position: relative;
 border-bottom: 1px solid rgb(206, 226, 233);
 }

 .inews-l-content a:hover { text-decoration: underline;
  }

  .inews-l-content .inews-l-content-hot img { width: 308px;
 height: 204px;
 }

 .inews-l-content .inews-l-content-hot h3 a, .inews-l-content .inews-l-content-hot h4 a { font-family: "Roboto Bold";
 font-size: 16px;
 line-height: 24px;
 }

 .inews-l-content ul {}

 .inews-l-content ul li { margin-bottom: 6px;
  }

  .inews-l-content ul li a { font-family: "Roboto Regular";
 font-size: 14px;
 color: rgb(66, 66, 66);
 background: url("/assets/Images/icon_butlet.png") 8px 7px no-repeat;
 display: block;
 padding-left: 23px;
 }

 .inews .inews-r { width: 321px;
 float: left;
 margin-left: 18px;
 }

 .inews-r .inews-r-title { height: 23px;
 padding: 3px 0px 0px 34px;
 background: url("/assets/Images/icon-tkkt.png") no-repeat;
 border-bottom: 1px solid rgb(55, 163, 68);
 }

 .inews-r .inews-r-title a { width: 100%;
 font-family: "Roboto Condensed";
 font-size: 18px;
 text-transform: uppercase;
 float: left;
 color: rgb(1, 96, 152);
 }

 .home-enews { background: url("/assets//Images/banner-enews.png") no-repeat;
 width: 1000px;
 height: 104px;
 margin-top: 20px;
 position: relative;
 }

 .btnConfirm { margin: 0px auto;
 width: 150px;
 background: rgb(55, 163, 68);
 color: rgb(255, 255, 255);
 line-height: 36px;
 text-transform: uppercase;
 border: none;
 cursor: pointer;
 font-weight: bold;
 }

 .home-enews .btnConfirm { right: 55px;
 top: 35px;
 border-radius: 0px 5px 5px 0px;
 width: 120px;
 position: absolute;
 text-align: center;
 }

 .home-enews input { float: right;
 width: 380px;
 height: 34px;
 border-radius: 6px;
 border: 1px solid rgb(159, 218, 255);
 padding: 0px 11px;
 margin: 35px 171px;
 box-shadow: rgb(163, 209, 238) 1px 1px 1px;
 }

 .footer { background: url("/assets/Images/bg-footer.png") repeat;
 position: relative;
 font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
 display: inline;
 }

 .footer .menu-bottom { height: 43px;
 background: rgb(1, 95, 149);
 }

 .menu-bottom ul { width: 1000px;
 margin: 0px auto;
 }

 .footer .menu-bottom ul li:first-child { background: none;
  }

  .footer .menu-bottom ul li { float: left;
 background: url("/assets/Images/line-menu.png") left center no-repeat;
 }

 .footer .menu-bottom ul li:first-child a { padding-left: 0px;
  }

  .footer .menu-bottom ul li a { color: rgb(255, 255, 255);
 padding: 11px;
 display: block;
 font-family: "Roboto Regular";
 text-transform: uppercase;
 white-space: nowrap;
 font-size: 11px;
 }

 .footer .menu-bottom ul li a:hover { text-decoration: underline;
  }

  .footer .menu-bottom ul li a { padding: 11px 7px !important;
  }

  .footer_bottom { width: 1000px;
 margin: 15px auto 0px;
 }

 .footer_bottom .row_footer { padding-bottom: 15px;
  }

  .footer_bottom .logo_footer { float: left;
 margin-top: 20px;
 width: 200px;
 }

 .footer_bottom .info_footer { float: left;
 width: 508px;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 12px;
 line-height: 20px;
 font-family: Tahoma;
 }

 .footer_bottom .info_footer p { margin-left: 18px;
  }

  .footer_bottom .info_footer .first { color: rgb(55, 163, 68);
  }

  .footer_bottom .info_footer .colr { float: left;
  }

  .footer_bottom .app_footer { float: right;
 width: 288px;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 font-stretch: normal;
 font-size: 16px;
 line-height: 18px;
 font-family: Arial;
 }

 .footer_bottom .app_footer p { padding-top: 10px;
  }

  .mr10 { margin-right: 10px !important;
  }

  .footer_bottom .app_footer img { border: none;
  }

  .copyright { font-size: 14px;
 text-align: center;
 }

 .bd_footer { border-top: 1px solid rgb(250, 250, 250);
 border-bottom: 1px solid rgb(202, 202, 202);
 margin-top: 13px;
 }

 .footer_bottom .share_footer { padding-bottom: 8px;
 margin: 0px auto;
 width: 100%;
 }

 a.color00ffd1:hover { color: rgb(54, 164, 69);
  }

  #___plusone_0 { width: 100px !important;
  }

  #backdroplogin { transition-duration: 150ms;
 display: none;
 }

 .lg-backdrop.in { opacity: 0.8;
  }

  .lg-backdrop { position: fixed;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
 z-index: 1000;
 background-color: rgb(0, 0, 0);
 opacity: 0;
 transition: opacity 0.15s ease 0s;
 }

 .productDialog-container { position: fixed;
 overflow: auto;
 width: 680px;
 top: 50px;
 left: 0px;
 right: 0px;
 margin: auto;
 z-index: 2147483647;
 color: rgb(85, 85, 85);
 font-size: 14px;
 background: rgb(255, 255, 255);
 font-family: Roboto;
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 display: none;
 }

 .productDialog-container .productDialogHeader h4 { color: rgb(255, 255, 255);
 background: url("/assets//Images/productManage.png") 15px 45% no-repeat rgb(1, 95, 149);
 font-weight: bold;
 text-indent: 55px;
 padding: 10px 0px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 font-family: "Roboto Regular";
 }

 .productDialog-container .productDialogHeader .productClose { position: absolute;
 top: 12px;
 right: 15px;
 cursor: pointer;
 }

 .productDialogHeader span { position: absolute;
 padding: 4px 16px;
 top: 6px;
 right: 50px;
 cursor: pointer;
 color: rgb(255, 255, 255);
 background-color: rgb(52, 163, 68);
 font-family: "Roboto Regular";
 font-size: 14px;
 border-radius: 3px;
 }

 .productDialog-container .boxDialogMain { padding: 10px 10px 0px;
 overflow: auto;
 max-height: 430px;
 }

 .productDialogShow { display: none;
 position: fixed;
 bottom: 0px;
 right: 174px;
 width: 165px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 12px 0px;
 font-size: 14px;
 line-height: 18px;
 color: rgb(255, 255, 255);
 background: url("/assets//Images/productManage.png") 15px 45% no-repeat rgb(1, 95, 149);
 text-indent: 50px;
 font-weight: bold;
 }

 .productDialogShow:hover { cursor: pointer;
  }

  .productDialogShow .titleDialog { z-index: 11;
 cursor: pointer;
 }

 .productDialogShow img { position: fixed;
 bottom: 12px;
 right: 180px;
 z-index: 13;
 cursor: pointer;
 width: 10px;
 height: 10px;
 }

 #boxProductSaved { display: none;
 position: fixed;
 bottom: 0px;
 right: 0px;
 width: 450px;
 border-radius: 5px 5px 0px 0px;
 border: 1px solid rgb(186, 186, 186);
 padding: 10px 15px;
 background: rgb(255, 255, 255);
 text-align: left;
 z-index: 11;
 line-height: 18px;
 }

 #boxProductSaved .titlebox { display: inline-block;
 width: 100%;
 font-size: 20px;
 margin-bottom: 15px;
 color: rgb(35, 71, 94);
 font-family: "Roboto Condensed";
 }

 #boxProductSaved .titlebox #deleteAll { width: 15px;
 height: 15px;
 background: url("/assets/Images/delete_all.png") 0px 0px no-repeat;
 display: block;
 float: right;
 cursor: pointer;
 }

 #boxProductSaved .titlebox .hideAll { width: 15px;
 height: 14px;
 background: url("/assets/Images/hide.png") 0px 4px no-repeat;
 display: block;
 float: right;
 margin-right: 10px;
 cursor: pointer;
 }

 .listbox { float: left;
 margin: 20px 0px 0px;
 }

 #SiteLeft { height: 0px;
 width: 0px;
 }

 #SiteLeft .ban_scroll { left: 1px;
 text-align: right;
 }

 .ban_scroll { overflow: hidden;
 position: absolute;
 z-index: 10;
 }

 #SiteLeft .item { margin-bottom: 10px;
  }

  #SiteRight { height: 0px;
  }

  #SiteRight .item { margin-bottom: 10px;
  }

  .ui-autocomplete { position: absolute;
 top: 0px;
 left: 0px;
 cursor: default;
 }

 .ui-menu { list-style: none;
 padding: 0px;
 margin: 0px;
 display: block;
 outline: none;
 }

 .ui-widget { font-family: Verdana, Arial, sans-serif;
 font-size: 1.1em;
 }

 .ui-widget-content { border: 1px solid rgb(170, 170, 170);
 background: url("/assets/images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x rgb(255, 255, 255);
 color: rgb(34, 34, 34);
 }

 .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 4px;
  }

  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 4px;
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 4px;
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 4px;
  }

  .ui-autocomplete.ui-menu { list-style: none;
 padding: 2px;
 margin: 0px;
 display: block;
 float: left;
 }

 .ui-autocomplete.ui-widget { font-family: Arial;
 font-size: 9pt;
 }

 .ui-autocomplete { position: absolute;
 cursor: default;
 }

 .ui-menu { list-style: none;
 padding: 2px;
 margin: 0px;
 display: block;
 float: left;
 }

 .ui-widget { font-family: Arial;
 font-size: 9pt;
 }

 .ui-widget-content { border: 1px solid rgb(170, 170, 170);
 background: url("/assets//images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x rgb(255, 255, 255);
 color: rgb(34, 34, 34);
 }

 .ui-widget :active { outline: none;
  }

  .fb_reset { background: none;
 border: 0px;
 border-spacing: 0px;
 color: rgb(0, 0, 0);
 cursor: auto;
 direction: ltr;
 font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
 font-size: 11px;
 font-style: normal;
 font-variant-ligatures: normal;
 font-variant-caps: normal;
 font-weight: normal;
 letter-spacing: normal;
 line-height: 1;
 margin: 0px;
 overflow: visible;
 padding: 0px;
 text-align: left;
 text-decoration: none;
 text-indent: 0px;
 text-shadow: none;
 text-transform: none;
 visibility: visible;
 white-space: normal;
 word-spacing: normal;
 }

 .fb_reset > div { overflow: hidden;
}
