<div id="wr_header" class="header">
  <div class="header-register" id="headerregister">
    <div class="action">
      <div class="logon">
        <a href="javascript:" rel="nofollow" title="Đăng nhập" id="ButtonLogin" class="fancybox.ajax">
        <span>Đăng nhập</span>
        </a>
      </div>
      <div class="register">
        <a href="javascript:" rel="nofollow" title="Đăng ký" id="ButtonRegister" class="fancybox.ajax">
        <span>Đăng ký</span>
        </a>
      </div>
    </div>
  </div>
  <script src="/Scripts/BoxUser.js" type="text/javascript"></script>
  <div class="header-logo">
    <div class="hdcontent">
      <div class="content-logo">
        <a href="/" title="Đô thị">
        <%= image_tag "Images/logo.png", alt: "Đô thị" %>
        </a>
      </div>
      <div class="MultiBanner72 content-banner" id="Banner_72" style="">
        <a id="ban_l72" href="/banner-click-72.htm?url=https://file.dothi.net/KM/nhanh-tay-dang-tin-tha-ga-nhan-qua.html" rel="nofollow" target="_blank" style="width: 100px">
        <%= image_tag "https://img.dothi.net/2018/05/25/20180525082640-246b.gif", alt: "Banner top - CT Đăng tin tặng tin" %>
        </a>
      </div>
    </div>
  </div>
</div>
