<div class="menu">
  <div class="menu-content">
    <ul class="nav-menu">
      <li class="lv0 active">
        <a href="/" title="Trang chủ">Trang chủ
        </a>
      </li>
      <li class="lv0">
        <h3><a href="/nha-dat-ban.htm" title="BĐS bán">BĐS bán</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/ban-can-ho-chung-cu.htm" title="Bán căn hộ chung cư">Bán căn hộ chung cư</a></h4>
           </li>
           <li>
              <h4><a href="/ban-nha-dat.htm" title="Tất cả các loại nhà bán">Tất cả các loại nhà bán</a></h4>
           </li>
           <li>
              <h4><a href="/ban-nha-rieng.htm" title="Bán nhà riêng">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà riêng</a></h4>
           </li>
           <li>
              <h4><a href="/ban-nha-biet-thu-lien-ke.htm" title="Bán nhà biệt thự, liền kề">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà biệt thự, liền kề</a></h4>
           </li>
           <li>
              <h4><a href="/ban-nha-mat-pho.htm" title="Bán nhà mặt phố">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán nhà mặt phố</a></h4>
           </li>
           <li>
              <h4><a href="/ban-dat-dat-nen.htm" title="Tất cả các loại đất bán">Tất cả các loại đất bán</a></h4>
           </li>
           <li>
              <h4><a href="/ban-dat-nen-du-an.htm" title="Bán đất nền dự án">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất nền dự án</a></h4>
           </li>
           <li>
              <h4><a href="/ban-dat.htm" title="Bán đất">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bán đất</a></h4>
           </li>
           <li>
              <h4><a href="/ban-trang-trai-khu-nghi-duong.htm" title="Bán trang trại, khu nghỉ dưỡng">Bán trang trại, khu nghỉ dưỡng</a></h4>
           </li>
           <li>
              <h4><a href="/ban-kho-nha-xuong.htm" title="Bán kho, nhà xưởng">Bán kho, nhà xưởng</a></h4>
           </li>
           <li>
              <h4><a href="/ban-loai-bat-dong-san-khac.htm" title="Bán loại bất động sản khác">Bán loại bất động sản khác</a></h4>
           </li>
        </ul>
      </li>
      <li class="lv0">
        <h3><a href="/nha-dat-cho-thue.htm" title="BĐS cho thuê">BĐS cho thuê</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/cho-thue-can-ho-chung-cu.htm" title="Cho thuê căn hộ chung cư">Cho thuê căn hộ chung cư</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-nha-rieng.htm" title="Cho thuê nhà riêng">Cho thuê nhà riêng</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-nha-mat-pho.htm" title="Cho thuê nhà mặt phố">Cho thuê nhà mặt phố</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-nha-tro-phong-tro.htm" title="Cho thuê nhà trọ, phòng trọ">Cho thuê nhà trọ, phòng trọ</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-van-phong.htm" title="Cho thuê văn phòng">Cho thuê văn phòng</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-cua-hang-ki-ot.htm" title="Cho thuê cửa hàng, ki ốt">Cho thuê cửa hàng, ki ốt</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-kho-nha-xuong-dat.htm" title="Cho thuê kho, nhà xưởng, đất">Cho thuê kho, nhà xưởng, đất</a></h4>
           </li>
           <li>
              <h4><a href="/cho-thue-loai-bat-dong-san-khac.htm" title="Cho thuê loại bất động sản khác">Cho thuê loại bất động sản khác</a></h4>
           </li>
        </ul>
      </li>
      <li class="lv0">
        <h3><a href="/tin-tuc.htm" title="Thông tin thị trường">Thông tin thị trường</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/tin-thi-truong.htm" title="Tin thị trường">Tin thị trường</a></h4>
           </li>
           <li>
              <h4><a href="/chinh-sach-quy-hoach.htm" title="Chính sách - Quy Hoạch">Chính sách - Quy Hoạch</a></h4>
           </li>
           <li>
              <h4><a href="/tin-du-an.htm" title="Tin dự án">Tin dự án</a></h4>
           </li>
           <li>
              <h4><a href="/bds-the-gioi.htm" title="BĐS Thế giới">BĐS Thế giới</a></h4>
           </li>
           <li>
              <h4><a href="/thi-truong-vat-lieu-xay-dung.htm" title="Thị trường vật liệu xây dựng ">Thị trường vật liệu xây dựng </a></h4>
           </li>
        </ul>
      </li>
      <li class="lv0">
        <h3><a href="/thiet-ke-kien-truc.htm" title="Thiết kế kiến trúc">Thiết kế kiến trúc</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/tu-van-thiet-ke.htm" title="Tư vấn thiết kế
                 ">Tư vấn thiết kế
                 </a>
              </h4>
           </li>
           <li>
              <h4><a href="/kinh-nghiem-xay-dung.htm" title="Kinh nghiệm xây dựng">Kinh nghiệm xây dựng</a></h4>
           </li>
           <li>
              <h4><a href="/kien-truc-bon-phuong.htm" title="Kiến trúc bốn phương">Kiến trúc bốn phương</a></h4>
           </li>
        </ul>
      </li>
      <li class="lv0">
        <h3><a href="/khong-gian-song.htm" title="Không gian sống">Không gian sống</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/nha-dep.htm" title="Nhà đẹp">Nhà đẹp</a></h4>
           </li>
           <li>
              <h4><a href="/noi-that.htm" title="Nội thất">Nội thất</a></h4>
           </li>
           <li>
              <h4><a href="/ngoai-that.htm" title="Ngoại thất
                 ">Ngoại thất
                 </a>
              </h4>
           </li>
           <li>
              <h4><a href="/mach-ban.htm" title="Mách bạn
                 ">Mách bạn
                 </a>
              </h4>
           </li>
        </ul>
      </li>
      <li class="lv0">
        <h3><a href="/phong-thuy.htm" title="Phong thủy">Phong thủy</a></h3>
      </li>
      <li class="lv0">
        <h3><a href="/tu-van-luat.htm" title="Tư vấn luật
           ">Tư vấn luật
           </a>
        </h3>
      </li>
      <li class="lv0">
        <h3><a href="/du-an-bat-dong-san.htm" title="Dự án">Dự án</a></h3>
        <ul class="dropdown-menu">
           <li>
              <h4><a href="/cao-oc-van-phong.htm" title="Cao ốc văn phòng">Cao ốc văn phòng</a></h4>
           </li>
           <li>
              <h4><a href="/khu-can-ho.htm" title="Khu căn hộ">Khu căn hộ</a></h4>
           </li>
           <li>
              <h4><a href="/khu-do-thi-moi.htm" title="Khu đô thị mới">Khu đô thị mới</a></h4>
           </li>
           <li>
              <h4><a href="/khu-thuong-mai-dich-vu.htm" title="Khu thương mại dịch vụ">Khu thương mại dịch vụ</a></h4>
           </li>
           <li>
              <h4><a href="/khu-phuc-hop.htm" title="Khu phức hợp">Khu phức hợp</a></h4>
           </li>
           <li>
              <h4><a href="/khu-dan-cu.htm" title="Khu dân cư">Khu dân cư</a></h4>
           </li>
           <li>
              <h4><a href="/khu-du-lich-nghi-duong.htm" title="Khu du lịch nghỉ dưỡng">Khu du lịch nghỉ dưỡng</a></h4>
           </li>
           <li>
              <h4><a href="/khu-cong-nghiep.htm" title="Khu công nghiệp">Khu công nghiệp</a></h4>
           </li>
           <li>
              <h4><a href="/du-an-khac.htm" title="Dự án khác">Dự án khác</a></h4>
           </li>
        </ul>
      </li>
      <li class="postnew lv0">
        <h3><a href="/dang-tin-ban-cho-thue-nha-dat.htm" title="Đăng tin">Đăng tin</a></h3>
      </li>
    </ul>
  </div>
</div>
